.rating{
    width: 901px;
}
.genre{
    width: 266px;
}
.year{
    width: 266px;
}
.language{
    width: 261px;
}
.btn{
    width: 100px;
    height: 30px;
   border-radius: 20px;
   background-color: pink;
   margin-left: 400px;
}
.btn:hover{
    background-color: deepskyblue;
}
.heading{
    color: pink;
    font-family: sans-serif;
}